:root {
  --background: #333;
  --midground: #555;
  --forground: #ccc;
}

* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 20% 1fr;
  height: 100vh;
}

aside {
  background-color: var(--background);
  display: grid;
  justify-items: center;
  grid-template-rows: auto 1fr;
  gap: 5%;
}

header {
  grid-column: 1 / 3;
}

table {
  background-color: var(--midground);
  color: var(--forground);
}

caption {
  background-color: var(--midground);
}

tbody {
  display: grid;
  grid-template-rows: minmax(80px, 3fr) 1.5fr;
}

tr {
  border-bottom: solid 2px var(--forground);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

th {
  background-color: var(--midground);
  border-top: solid 5px var(--forground);
  border-right: solid 5px var(--forground);
}

button {
  margin-top: 5px;
  width: 85%;
  padding: 10px;
}

tr:not(:first-child) {
  border-right: solid 5px var(--forground);
  padding: 15px 0 15px 0;
  justify-items: center;
}

form {
  background-color: var(--forground);
  padding: 5%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 90%;
  box-shadow: inset 0px 0px 35px var(--midground);
}

h1 {
  position: absolute;
}

.img {
  width: 100%;
}
