* {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 20% 1fr;
  height: 100vh;
}

aside {
  background-color: #ccc;
}

header {
  background-color: #555;
  grid-column: 1 / 3;
}

table {
  border-collapse: collapse;
  background-color: #555;
  color: #ccc;
}

tr {
  border-bottom: solid 2px #ccc;
  border-right: solid 5px #ccc;
}

th {
  background-color: #222;
  border-top: solid 5px #ccc;
  border-right: solid 5px #ccc;
}
